nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #271c19;
    box-shadow:
            0 0 15px #140a0a,
            inset 0 0 20px #160c0b;
    margin: 0;

}

.nav-side
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
button[type="submit"]
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    background-color: #d1a0bf;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover
{
    filter: brightness(80%);
}
button:active {
    filter: brightness(60%);
}
body {
    background-color: #55423d;
    font-family: "Manrope", sans-serif;
}
body[class="main-body"]
{
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background: #4e352f;
}
.error
{
    color: #cd3d3d;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 37rem;
    margin: auto;
    background: none;
    padding: 2rem;
    border-radius: 3rem;
    margin-top: 3rem;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 28rem;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background-color: #ffc0ad;
    box-shadow:
            0 0 15px #140a0a,
            inset 0 0 20px #a57666;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .box {
        max-width: 95vw;
        padding: 1rem;
    }
}
.title {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: #271c19;
}
.nav-link {
    font-family: "Manrope", sans-serif;
    color: #ff8a77;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
}
.nav-link:hover {
    color: #944a4a;
}
a
{
    color: #9656a1;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
}
a:hover
{
    color: #462851;
}
footer {
    text-align: center;
    background-color: #271c19;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 0;
    padding: 0;
    margin-top: auto;
    font-size: 0.875rem;
    color: #ff8a77;
    z-index: 1000;
    position: static;
    bottom: auto;
    min-height: 0;
}
input
{
    font-family: "Manrope", sans-serif;
    padding: 0.5rem;
    font-size: 1rem;
    background: #fff3ec;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 0 8 0 #928e90;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
input:focus {
    box-shadow: 0 0 90 0 #9656a1;
}
.page-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 1fr;
  gap: 1rem;

  height: calc(100vh - 4rem - 3rem - 4rem);

  padding: 2rem;
  box-sizing: border-box;
  overflow: hidden;
}

.page-head {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 1rem;
  border-radius: 1rem;
    background-color: #ffc0ad;
    box-shadow:
            0 0 15px #140a0a,
            inset 0 0 20px #a57666;
}


.top-right {
    font-size: 2rem;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
    background-color: #ffc0ad;
    box-shadow:
            0 0 15px #140a0a,
            inset 0 0 20px #a57666;
  padding: 2rem;
  border-radius: 1rem;
}


.page-main {
  display: grid;
  grid-auto-rows: 100px;
  gap: 0.5rem;
  overflow-y: auto;
  grid-row: 2 / 3;
  padding: 1rem;
  border-radius: 1rem;
    background-color: #ffc0ad;
    box-shadow:
            0 0 15px #140a0a,
            inset 0 0 20px #a57666;
}

button[class="quiz-button"] {
    font-family: "Manrope", sans-serif;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    background-color: #d1a0bf;
    border-bottom-color: #98768c;
    box-shadow:
            0 0 5px #0f0f0f,
            inset 0 0 5px #98768c;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    font-size: 4rem;

}
button[class="quiz-button"]:hover {
    filter: brightness(80%);
    cursor: pointer;
    color: #444;
}
#search {
    font-family: "Manrope", sans-serif;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    background-color: #f0f0f0;
    box-shadow:
            0 0 15px #0f0f0f,
            inset 0 0 5px #a57666;
    border-bottom-width: 0.25rem;
    border-bottom-style: solid;
    font-size: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

.wrong {
    font-family: "Manrope", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    border-bottom: 0.25rem solid #6a1212;
    background-color: #8c1818;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0.5rem;
    box-shadow: 0 0 15px rgba(140, 24, 24);
    white-space: normal;   /* allow line breaks */
    word-break: break-word; /* break long words */
    text-align: center;
}
.right {
    font-family: "Manrope", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    border-bottom: 0.25rem solid #36622b;
    background-color: #79cb63;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0.5rem;
    box-shadow: 0 0 15px rgb(104, 208, 52);
    white-space: normal;   /* allow line breaks */
    word-break: break-word; /* break long words */
    text-align: center;
}
.quiz-body {
    font-family: "Manrope", sans-serif;
    display: grid;
    grid-auto-rows: 0.5fr 3.5fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    height: 100vh;
    width: 100%;
    margin: 0;

}
.quiz-header {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    background: #271c19;
    box-shadow:
            0 0 15px #140a0a,
            inset 0 0 20px #160c0b;
    padding: 1rem;
    border: none;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
#question {
    color: #ff8a77;
}
.quiz-questions {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    gap: 1rem;
    font-weight: bold;
    background-color: #ffc0ad;
    box-shadow:
            0 0 15px #140a0a,
            inset 0 0 5rem #a57666;
    border-radius: 1rem;
    box-sizing: border-box;
    text-align: center;
    margin: 1rem;
}

.quiz-questions img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}
.quiz-question {
    font-family: "Manrope", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    grid-column: 1 / 2;
    white-space: normal;
    word-break: break-word;
}
.quiz-options {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background: none;
    border-radius: 1rem;
    box-sizing: border-box;
}
.quiz-footer {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    background: none;
    background-color: #271c19;
    box-shadow:
            0 0 15px #140a0a,
            inset 0 0 20px #160c0b;
    border: none;
}
.quiz-submit {
    grid-column: 1 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    height: 100%;
    background: #ff8a77;
    border: none;
    border-radius: 1rem;
    border-bottom: 0.25rem solid #9d5549;
}
.quiz-submit:hover {
    filter: brightness(80%);
    cursor: pointer;
}
.quiz-option {
    font-family: "Manrope", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    border-bottom: 0.25rem solid #ae5976;
    background-color: #e78fb3;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0.5rem;
    box-shadow: 0 0 15px #e78fb3;
    white-space: normal;   /* allow line breaks */
    word-break: break-word; /* break long words */
    text-align: center;
}
.quiz-explanation {
    grid-column: 1 / 5;
    justify-self: center;
    justify-content: center;
    grid-row: 1 / 2;
    font-family: "Manrope", sans-serif;
    color: #ff8a77;
}
#res-body {
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
}
#res-container {
  display: grid;
  grid-template-rows: 3fr 1fr;
  gap: 1rem;
  height: calc(100vh - 4rem - 3rem - 4rem);
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}
#res-cont {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffc0ad;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
#res-buttons {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}
.res-btn {
    font-family: "Manrope", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #e78fb3;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0.5rem;
    box-shadow: 0 0 15px #e78fb3;
    white-space: normal;
    word-break: break-word;
    text-align: center;
}
.main-shit {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 2fr;
  height: calc(100vh - 4rem - 3rem - 4rem);
    gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}
table {
    border: none;
    border-collapse: collapse;
    border-radius: 1rem;
    box-shadow: 0 0 20px #0c0d0c;
}
caption {
    background-color: #79cb63;
    border: none;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    font-size: 2rem;
}
thead {
    background-color: #79cb63;
}
td, th {
    border-left: 2px solid #999;
  border-right: 2px solid #999;
    text-align: center;
}
.odd {
    background-color: #ccc;
}
.even {
    background-color: #f0f0f0;
}
tfoot td {
    border: none;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #0f9048;
    height: .5rem;
}
.supportbody {
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
}
.support-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 4rem - 3rem - 4rem);
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden;
}