<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Studyr - {{ page }}</title>
    <link href="../static/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="">
</head>
<nav>
    {% if session['user_id'] %}
        <a href="/">Home</a>
    {% else %}
        <a href="/login">Login</a>
        <a href="/signup">Register</a>
    {% endif %}
</nav>
<main>
    <body>
        {% block content %}{% endblock %}
    </body>
</main>
</html>