<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Studyr - {{ page }}</title>
    <link href="../static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap" rel="stylesheet">
    <link href="../static/script.js" rel="script">
    <link rel="icon" type="image/png" href="/static/bg_images/favicon.svg">
</head>
<nav>
    <div class="nav-side">
        <img src="/static/bg_images/favicon.svg">
        {% if session['id'] %}
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/quizzes">Quizzes</a>
<!--            <a class="nav-link" href="/review">Review</a>-->
            <a class="nav-link" href="/logout">Log Out</a>
<!--    TBA    <a href="/profile">Profile</a>-->
        {% else %}
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/signup">Register</a>
        {% endif %}
    </div>
    <div class="nav-side">
        <a class="nav-link" href="https://github.com/rialdcart098/CS50-Week-10">
            <img src="/static/bg_images/Vector.svg" width="30px" height="30px" alt="GitHub Logo">
        </a>
        <a class="nav-link" href="/support">Support</a>
        <a class="nav-link" href="/contribute">Contribute</a>
    </div>

</nav>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <p>© 2025 Studyr. All rights reserved.</p>
</footer>
</html>