<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Studyr - Quiz</title>
    <link href="../static/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/bg_images/favicon.svg">
</head>
<body class="quiz-body">
    <div class="quiz-header">
        <h1 class="title" id="question"></h1>
    </div>
    <div class="quiz-questions">
        <div class="quiz-question">
        </div>
        <div class="quiz-stimulus"></div>

    </div>
    <div class="quiz-options">
    </div>
    <div class="quiz-footer">
    </div>
    <script src="{{ url_for('static', filename='quiz.js') }}"></script>
</body>
</html>