<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Studyr - Quiz</title>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body class="quiz-body">
    <div class="quiz-header">
        <h1 class="title" id="question"></h1>
    </div>
    <div class="quiz-questions">
        <div class="quiz-question">
        </div>
        <div class="quiz-stimulus"></div>

    </div>
    <div class="quiz-options">
        <button class="quiz-option">x = 1</button>
        <button class="quiz-option">Option 1</button>
        <button class="quiz-option">Option 1</button>
        <button class="quiz-option">O(n)</button>
    </div>
    <div class="quiz-footer">
        <button class="quiz-submit" id="submit">Submit</button>
    </div>
    <script src="{{ url_for('static', filename='quiz.js') }}"></script>
</body>
</html>